.git/
.github/
.venv/
.dvc/
.pytest_cache/
.ruff_cache/

data/
mlruns/
mlartifacts/
mlflow.db
docs/
tests/
training/
optimization/
frontend/
dags/
monitoring/

*.csv
*.pkl
*.joblib
models/pipeline.joblib
models/pipeline_int8.onnx
models/pipeline_fp32_preprocessed.onnx

*.md
*.pdf
